p {
    line-height: 1em;
}

h1, h2, h3, h4 {
    color: black;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 .5em 0;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: black;
    text-decoration: none;
}
    a:hover,
    a:active {
        text-decoration: underline;
    }

body {
    font-family: arial;
    font-size: 80%;
    line-height: 1.2em;
    width: 95%;
    margin: 20px;
    background: #eee;
}

banner {
    width: 90%;
    margin-top: 5px;
    font-family: 'Lucida Sans';
    display: inline-block;
}

nav {
    
    width: 60%;
    text-align: right;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

content {
    margin: 30px 0;
    background: white;
    padding: 20px;
    clear: both;
}

footer {
    border-bottom: 1px #ccc solid;
    margin-bottom: 10px;
}

    footer p {
        text-align: right;
        text-transform: uppercase;
        font-size: 80%;
        color: grey;
    }

content,
    ul li a {
    box-shadow:1px 1px #999;
}

slideshow {
    margin: auto;
    width: 800px;
    text-align: center;
    float: right;
}

contact-container {
    max-width:500px;
    width: 100px;
    margin: auto;
    position: center;
}

contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
}

contact button[type="submit"]{
    cursor:pointer;
}



fieldset {
    border:medium;
    margin: 0 0 10px;
    padding: 0;
    width: 500px;
}
