banner {
    width: 100%;
    margin-top: 5px;
    font-family: 'Lucida Sans';
    display: inline-block;
}


body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


nav {
    width: 60%;
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

p {
    width: auto;
    padding: 10px;
    margin: 0;
    text-align: left;
}


slideshow {
    margin: auto;
    width: 800px;
    text-align: center;
}


.product-image {
    float:right;
}


footer {
    position:center;
    bottom: 10px;
    width: 100%;
    background: #666;
    padding: 24px;
    font-size: 12px;
    color: #CCC;
    text-align: center;
}


